

@model List<Student>

<h2><b>Student Details</b></h2>

@*<center>
    <img src="/Images/student.jpg" width="800" height="600" class="img-thumbnail" alt="Responsive image">
</center>
*@
<div>
    @Html.Partial("_Students", Model)
</div>