@model StudentViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome HERE</h1>
    
    
  @* <center>
    <img src="/Images/student1.jpg" width="600" height="600" class="img-thumbnail" alt="Responsive image">
</center>*@



</div>
